<div class="article-show-image">
	<img src ="<%= article.get("image_url") %>">
</div>

<div class="article-show-container">
	<a class="article-show-link">
	  <h4><%= article.get("title") %></h4>
		<h6><%= article.get("feed_title") %> / <%= article.get("published_at") %></h6>
	</a>

	<div class="article-show-description">
		<%= unescapeHtml(article.get("description")) %>
	</div>
</div>


